* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

main{
    height: 89vh;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    height: 6vh;
}

.navbar-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-item {
    margin-left: 1rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-item:hover {
    color: #ddd;
}

/* CARDS */
.products-title {
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding: 20px 2rem;
    background-color: #f0f0f0;
    line-height: 1.6;
    color: #333;
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card article {
    padding: 1.5rem;
}

.product-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #1a1a1a;
}

.product-category {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 0.5rem;
}

.product-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}

.product-stock {
    font-size: 0.9rem;
    color: #888;
}

/* DETALLE PRODUCTO */
.product-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.product-image {
    flex: 1;
    min-width: 300px;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-details {
    flex: 1;
    min-width: 300px;
}

.product-title-detail {
    font-size: 2rem;
    color: #333;
}

.product-price-detail {
    font-size: 1.5rem;
    font-weight: bold;
    color: #555;
}

.product-category-detail,
.product-stock-detail {
    font-size: 1rem;
    color: #777;
    margin-bottom: 0.5rem;
}

hr{
    margin: 1rem 0px;
}

/* LOGIN */
.container {
    width: 100%;
    height: 100%;
    max-width: 450px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.login-form, .register-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

input[type="email"],
input[type="password"],
input[type="photo"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="photo"]:focus {
    outline: none;
    border-color: #888;
}

.btn-login {
    width: 100%;
    padding: 0.75rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #555;
}

.forgot-password {
    text-align: center;
    margin-top: 1rem;
}

.forgot-password a {
    color: #666;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* ADMIN */
.product-list-container {
    margin: 20px;
}

.add-product-container {
    width: 100%;
    margin-bottom: 1rem;
}

.add-product-button {
    display: inline-block;
    width: 100%;
    padding: 10px; 
    background-color: #28a745;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-product-button:hover {
    background-color: #218838;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.btn-editar, .btn-eliminar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

/* FORMULARIO DE MODIFICACIÓN */
.center-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

.form-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.form-input:focus {
    outline: none;
    border-color: #888;
}

.form-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #555;
}

.form-link {
    display: inline-block;
    margin-top: 1rem;
    text-align: center;
    color: #666;
    text-decoration: none;
    width: 100%;
}

.form-link:hover {
    text-decoration: underline;
}