<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/styles.css">
        <title>CRUD</title>
    </head>
    <body>
       <nav class="navbar">
           <div class="navbar-container">
               <a href="#" class="navbar-logo">Logo</a>
               <ul class="navbar-menu">
                   <li><a href="/products" class="navbar-item">All Products</a></li>
                   <li><a href="/users/login" class="navbar-item">Login</a></li>
               </ul>
           </div>
       </nav>
       
       <main>
        {{{body}}}
       </main>

       <footer>
        
       </footer>
    </body>
</html>