<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/styles.css">
        <title>CRUD</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-container">
                <a href="/" class="navbar-logo">Comerce</a>
                <ul class="navbar-menu">
                        <li><a href="/" class="navbar-item">All Products</a></li>
                        {{!-- <li><a href="/products/admin" class="navbar-item">Products Manager</a></li>
                        <li><a href="/users/profile/{{user.id}}" class="navbar-item">Profile</a></li>
                        <li><a href="/users/register" class="navbar-item">Register</a></li>
                        <li><a href="/users/login" class="navbar-item">Login</a></li> --}}
                </ul>
            </div>
        </nav>

       
       <main>
        {{{body}}}
       </main>

       <footer>
        <p>Nicolas Costa - Coderhouse</p>
       </footer>
       {{!-- <script src="/public/js/methodDelete.js"></script> --}}
    </body>
</html>